.app-container {
  background-image: linear-gradient(to right, #ffeeee, #ffc0bb);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feedback-container {
  width: 90%;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
}
.heading {
  font-family: 'roboto';
}
.emojis-container {
  display: flex;
  list-style-type: none;
}
.emoji-button{
  background-color: transparent;
  border: none;
  padding: 50px;
}